* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #51cf66;
  --primary-shade: #37b24d;

  --focus: #37a938;
  --active: #8ce99a;
  --white: #F2F2F2;
  --black: #111111;
  --background: #1f1f1f;
  --background-shade: #171717;

  --border-radius: 8px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: var(--background);
  color: var(--white);
  height: 100vh;
  width: 100vw;
}
